// breakpoint
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// color
$normal: red;

// font-size
$font_base: 10px;
$font_sm: $font_base * 1.2;
$font_md: $font_base * 1.6;
$font_lg: $font_base * 2;
